.highlight {
  background-color: #73c1a5e8;
  height: 4px;
}
.events-wrapper .title {
  direction: rtl;
  margin-top: 34px;
  font-size: 1.5em;
  font-weight: normal;
  font-family: 'Tajawal', sans-serif;
}
.events-wrapper {
  background-color: #73c1a5e8;
  padding: 10px;
}
